.Wrapper {
  display: flex;
  width: 100%;
  align-items: center;

}

.Descr {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.Task {
  font-weight: bold;
}

.TaskDone {
  color: green;
  text-decoration: line-through;
  opacity: 0.5;
}